// Color
$primary-color: #ffa547;
$secondary-color: ;
$dark-brown-color: #2e3234;
$light-brown-color: #3a3f41;
$medium-brown-color: #555;
$dark-grey-color: ;
$light-grey-color: #f3f5f7;
$dark-text-color: #333;
$light-text-color: #585858;

// default border radius
$base-radius: 3px;

// form color
$disabled-input-color: #ebebeb;
$border-input-color: #f1f1f1;
